@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,300&display=swap');
*{
    font-family: 'Kanit', sans-serif;
}
h1{
    color: rgb(0, 0, 0);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: auto;
    margin: 0 auto;
    height: auto;
    border-radius: 10px;padding: 20px;
    background-color: rgb(239, 239, 239);
    box-shadow: 2px 2px 2px 2px grey;
}
.titulos{

    display: flex;
    align-items: flex-end;
    position: relative;
    justify-content: space-between;
    bottom: 80px;
    left: 200px;
  
    

}
#moneda{
    position: relative;
    left: 150px;
  
}
#cantidad{
    position: relative;
    left: 50px;
}
.conversor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 400px;
    margin: 0 auto;
    
    
}
.etiquetas{
    display: flex;
    flex-direction: column;
    margin: 10px;
    gap: 5px;
    font-size: 17px;
}

--------------------------
.cantidades{
    display: flex;
    flex-direction: column;
    width: 100px;
    gap: 10px;

}
#cant-orig,#div-orig{
    background-color: #fefce0;
    border: none;
    border: solid 1px;
}
#cant-dest,#div-dest{
   background-color: #dfedd6; 
   border: none;
    border: solid 1px;
}

------------------------
.divisas{
    display: flex;
    flex-direction: column;
    width: auto;
    margin-left: 10px;
    gap: 10px;
}
.botonera{
    position: relative;
    top: 70px;
    right: 230px;
    background-color: 0844a4;
    border-radius: 5px;
    border: none;
}
#guardar{
    background-color: rgb(62, 62, 255);
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
}
#guardar:hover{
    background-color: rgb(0, 143, 110);
}
@media (min-width: 180px) and (max-width:1024px){

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: auto;
        margin: 0 auto;
        height: auto;
        border-radius: 10px;
        padding: 20px;
    }
  
 
  
    
   
   
  
    
}
